# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Xcode Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    
    - name: Set up Xcode
      run: xcode-select -p  # Ensures the proper Xcode environment is in use
    
    - name: Build project
      run: xcodebuild -project wrapd.xcodeproj -scheme wrapd -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 14,OS=latest' build
    
    - name: Run tests
      run: xcodebuild -project wrapd.xcodeproj -scheme wrapd -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 14,OS=latest' test
